# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencias (si usas npm)
node_modules/

# Build
dist/
build/

# Temporales
*.tmp
*.temp
