
.flex {
    display: flex;
}

.flex--row {
    flex-direction: row;
}

.flex--row-reverse {
    flex-direction: row-reverse;
}

.flex--col {
    flex-direction: column;
}

.flex--col-reverse {
    flex-direction: column-reverse;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--nowrap {
    flex-wrap: nowrap;
}

.flex--justify-start {
    justify-content: flex-start;
}

.flex--justify-center {
    justify-content: center;
}

.flex--justify-end {
    justify-content: flex-end;
}

.flex--justify-between {
    justify-content: space-between;
}

.flex--justify-around {
    justify-content: space-around;
}

.flex--justify-evenly {
    justify-content: space-evenly;
}

.flex--align-start {
    align-items: flex-start;
}

.flex--align-center {
    align-items: center;
}

.flex--align-end {
    align-items: flex-end;
}

.flex--align-baseline {
    align-items: baseline;
}

.flex--align-stretch {
    align-items: stretch;
}

.flex--gap-xs {
    gap: var(--space-1);
}

.flex--gap-sm {
    gap: var(--space-2);
}

.flex--gap-md {
    gap: var(--space-4);
}

.flex--gap-lg {
    gap: var(--space-8);
}

.flex--gap-xl {
    gap: var(--space-16);
}

.flex-1 {
    flex: 1;
}

.flex-auto {
    flex: auto;
}

.flex-none {
    flex: none;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow-0 {
    flex-grow: 0;
}